*{
   
   
   
    font-family:'poppins', sans-serif;
    color:#fff;
   
}


#header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background: transparent;
    padding:20px 10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.title1 a{
    font-size:30px;
    text-decoration: none;
    color:white;
    font-weight:600;
   
    
}

.title2{
    opacity:50%;
    font-size:15px;
    color:white;
    position:relative;
    bottom:12px;
   
}
strong{
    font-size:45px;
    color:#0ef;
   
}
.navbar a{
    display:inline-block;
    font-size:20px;
    text-decoration: none;
    color:#fff;
    margin-left:35px;
    padding:15px 15px 15px 15px;
   
}   
.navbar a:hover{
    color:#0ef;
}
.about-text h2{
    position:absolute;
    left:510px;
    top:150px;
   
    letter-spacing:2px;
    font-size:30px;
}
.about-text span{
    color:cyan
}

.row{
   text-align:center;
   position:relative;
   left:500px;
   top:200px;
   width:320px;
}

textarea{
    width:320px;
    height:100px;
    position: relative;
    top:10px;
   
}
.sub-button{
    text-align: center;
    position: relative;
    top:245px;
}
.Sub{
    padding:10px 22px;
    background:#0ef;
    color:#0c192c;
    border-radius:30px;
    bottom:50px;
    font-size:16px;
    letter-spacing:1px;
    text-decoration: none;
    font-weight:600;
    width:330px;
   

    
}
.Sub:hover{
    box-shadow:0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan;
    
}
#container{
    display:flex;
    margin-top: 22%;
    height:65px;

}
