*{
   
   
   
    font-family:'poppins', sans-serif;
    color:#fff;
}


.header{
    position:sticky;
    top:0;
    left:0;
    width:100%;
    background: transparent;
    padding:20px 10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.title1 a{
    font-size:30px;
    text-decoration: none;
    color:white;
    font-weight:600;
   
    
}

.title2{
    opacity:50%;
    font-size:15px;
    color:white;
    position:relative;
    bottom:12px;
   
}
strong{
    font-size:45px;
    color:#0ef;
   
}
.navbar a{
    display:inline-block;
    font-size:20px;
    text-decoration: none;
    color:#fff;
    margin-left:35px;
    padding:15px 15px 15px 15px;
    transition: .3s;
    opacity:0;
    animation:slidetop .5s ease forwards;
}   
.navbar a:hover{
    color:#0ef;
}
.home-content{
   position:absolute;
   top:230px;
   left:100px;
   transition:.3s;
   
}
.home-content h3{
    font-size:20px;
    letter-spacing:2px;
    opacity:0;
    padding-bottom: 30px;
    animation:slideText 1s ease forwards;
    animation-delay: 0.3s;
 
  
}
.home-content h1{
    font-size:35px;
    position:relative;
    bottom:40px;
    letter-spacing:2px;
    opacity:0;
    animation:slideRight 0.5s ease forwards;
    animation-delay: 0.5s;
}
.home-content p{
    font-size:15px;
    position:relative;
    bottom:50px;
    letter-spacing:2px;
    font-weight:700;
    opacity:0;
    animation:slideleft 0.4s ease forwards;
   
}
.home-icons a {
    display:inline-flex;
    justify-content:center;
    align-items:center;
    position:relative;
    width:40px;
    height:40px;
    bottom:80px;
    border: 2px solid #0ef;
    font-size:20px;
    color:#0ef;
    border-radius:50%;
    text-decoration: none;
    margin:30px 15px 30px 0;
   
}


.home-icons a:hover{
    background:#0ef;
    box-shadow:0 0 20px #0ef;
    
}
.about-link{
   position:absolute;
   padding:12px 28px;
   background:#0ef;
   color:#0c192c;
   border-radius:40px;
   bottom:50px;
   font-size:16px;
   letter-spacing:2px;
   text-decoration: none;
   font-weight:600;
}
.about-link:hover{
    box-shadow:0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
   
}

@keyframes slidetop{
    0%{
        transform:translateY(100px);
        opacity:0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}
@keyframes slideRight{
    0%{
        transform:translateX(300px);
        opacity:0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}
@keyframes slideText{
    0%{
        transform:translateY(100px);
        opacity:0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}
@keyframes slideleft{
    0%{
        transform:translateX(-100px);
        opacity:0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}
.profile{
    width:240px;
    height:240px;
    position:absolute;
    left:900px;
    bottom:190px;
    border-radius: 130px;
    border: #0ef solid 2px;
    opacity:0;
    animation:slidetop 1s ease forwards;
}
.profile:hover{
    box-shadow:0 0 5px cyan,
    0 0 25px purple, 0 0 50px cyan,
    0 0 100px purple, 0 0 200px cyan;
}

.about{
    display:flex;
    position:relative;
    top:200px;
    
}
.about-pic{
    width:70px;
    height:70px;
    position:absolute;
    left:500px;
    top:600px;
    border-radius: 50px;
    border: #0ef solid 2px;
}
.about-pic:hover{
    box-shadow:0 0 5px cyan,
    0 0 25px purple, 0 0 50px cyan,
    0 0 100px purple, 0 0 200px cyan;
}

.about-text h2{
    position:absolute;
    top:595px;
    left:600px;
    letter-spacing:2px;
    font-size:30px;
}
.about-text2{
    position:relative;
    top:700px;
    left:220px;
    letter-spacing:2px;
    margin: 5px 0 5px 0;
    font-size:20px;
    font-weight:600;
}
.about-text span{
    color:cyan
}
.about-link2{
   position:absolute;
   top:830px;
   padding:12px 28px;
   background:#0ef;
   color:#0c192c;
   border-radius:40px;
   left:550px;
   font-size:16px;
   letter-spacing:1px;
   text-decoration: none;
   font-weight:600;
   margin-bottom:20px;

}
.about-link2:hover{
    box-shadow:0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
