*{
   
   
   
    font-family:'poppins', sans-serif;
    color:#fff;
}
body{
    background: #0c192c;
    
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background: transparent;
    padding:20px 10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.title1 a{
    font-size:30px;
    text-decoration: none;
    color:white;
    font-weight:500;
   
   
    
}

.title2{
    opacity:50%;
    font-size:15px;
    color:white;
    position:relative;
    bottom:23px;
   
}
strong{
    font-size:45px;
    
    color:#0ef;
   
}
.navbar a{
    display:inline-block;
    font-size:20px;
    text-decoration: none;
    color:#fff;
    margin-left:35px;
    padding:15px 15px 15px 15px;
   
}   
.navbar a:hover{
    color:#0ef;
}


.about{
    display:flex;
    position:relative;
    top:200px;
    
}
.about-pic{
    width:70px;
    height:70px;
    position:absolute;
    left:500px;
    bottom:190px;
    border-radius: 50px;
    border: #0ef solid 2px;
}
.about-pic:hover{
    box-shadow:0 0 5px cyan,
    0 0 25px purple, 0 0 50px cyan,
    0 0 100px purple, 0 0 200px cyan;
}

.about-text h2{
    position:absolute;
    left:600px;
    bottom:195px;
    letter-spacing:2px;
    font-size:30px;
}
.about-text2{
    position:relative;
    bottom:35px;
    left:220px;
    letter-spacing:2px;
   
    font-size:20px;
    font-weight:600;
}
.about-text span{
    color:cyan
}
.about-link2{
   position:absolute;
   top:100px;
   padding:12px 28px;
   background:#0ef;
   color:#0c192c;
   border-radius:40px;
   left:550px;
   font-size:16px;
   letter-spacing:1px;
   text-decoration: none;
   font-weight:600;
   margin-bottom:20px;

}
.about-link2:hover{
    box-shadow:0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
